/* Global Styles */
*{
    /* background-color: rgb(178, 122, 230); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:sans-serif;
    line-height:1.6;
    color: #333;
}
.navContainer{
    max-width: 1200px;
    padding-top: 15px;
    margin: 0 auto;

}
.navbar{
    background-color: #ffffff;
    position: fixed;
    width: 100%;
}


.navWrapper{
    display:flex;
    /* flex-direction:row-reverse; */
    justify-content:space-between;
    align-items:center;
}

/* you can use ID to style  */
#navLinks{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 20px;
}

#navLinks li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    color: #000000;
}

#navLinks li a:hover{
    background: purple;
    color: #ffffff;
    border-radius: 4px;
}

.search-icon{
    background-color: rgb(182, 247, 61);
    border-radius: 60%;
    padding: 10px;
    justify-content: start;
}
.heroContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:url(images/background.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 20px;
    line-height: 1.5;
    height: 100vh;
    justify-content: end;
}
.heroContainer h1{
    color: white;
    font-weight:bold;
    font-size: 48px;
    text-shadow: #000000;
}
.heroContainer h2{
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.callToAction{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.callToAction a{
    text-decoration: none;
}
#partner{
    background-color: rgb(112, 38, 112);
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    /* border:purple ; */
    border-radius: 0.5rem;
}

#explore{
    background-color:#e1ff34;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    /* border:purple ; */
    border-radius: 0.5rem;
}
#hire{
    background-color: rgb(255, 255, 255);
    color: rgb(124, 60, 124);
    font-weight: bold;
    padding: 10px 10px;
    /* border:purple ; */
    border-radius: 0.5rem;
}

.aboutRefactoryAndImage{
    display: grid; 
    grid-template-columns:1fr 1fr;
    background-color: #e6e2e279;
    padding: 60px;
    gap: 20px;
    align-items:center;
}

/* Responsiveness for small screen  */
@media (max-width: 800px){
    .aboutRefactoryAndImage{
        grid-template-columns: 1fr; 
    }
}
.aboutRefactoryAndImage p{
    justify-content: center;
    align-items: center;
}
.aboutRefactory h1{
    color: purple;
    font-size: 32px;
    font-weight: bold;
}
.aboutRefactory h2{
    color: rgb(15, 177, 155);
    font-size: 24px;
}
.aboutRefactory p{
    color: #222;
    line-height: 1.6;
}
.learnMore{
    padding-top: 10px;

}
.More{
    background-color: rgb(232, 235, 68);
    color: white;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    border-radius: 0.5rem;
    text-decoration: none;
}

/* courses section  */

.courses{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 30px;
    padding: 0 50px;
}
#dreamParagraph{
    display: flex;
    justify-content: center;
    color: rgb(46, 190, 190);
    padding-top: 20px;

}
#exploreHeading{
    display: flex;
    justify-content: center;
    color: rgb(87, 37, 97);
    padding-bottom: 20px;
    padding-top: 0;
    font-weight: bold;
    font-size: large;
}
.foundationalCourses{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}
.foundationalCourses h2{
    color: rgb(87, 37, 97);

}
.apprenticeshipCourse{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}
.apprenticeshipCourse h2{
    color: rgb(87, 37, 97);
}

.advancedCourses{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}
.advancedCourses h2{
    color: rgb(87, 37, 97);

}

/* footer  */
footer{
    background: linear-gradient(to right, rgb(43, 1, 43),rgb(115, 2, 150), rgb(247, 2, 247));
}
.footerWrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #ffffff;
    gap: 40px;
    padding:60px 15px;
}
/* Responsiveness for small screen  */
@media (max-width: 800px){
    .footerWrapper{
        grid-template-columns: 1fr; 
    }
}

#logo{
    background-color: #ffffff;
    border-radius:60%;
    padding: auto;
}

.getInTouch a{
    color: white;
    text-decoration: none;
    height: 1.5;
}
.getInTouch li{
    list-style: none;
}
 .Resources a{
        color: white;
    text-decoration: none;
    line-height: 2;
 }
 .Resources li{
    list-style: none;
 }

 .Resources h3{
    color: rgb(4, 255, 221);
 }

  .getInTouch h3{
    color: rgb(4, 255, 222);
 } 
 
 .visitUs h3{
    color: rgb(4, 255, 221);
 }

  .visitUs a{
    color: rgb(4, 255, 221);
    text-decoration: none;
    font-weight: 500px;
    font-size: 20px;
    padding-top: 20px;
}

hr{
    margin-left: 15px;
    margin-right: 15px;
}
#copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 20px;
}
